<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.IdentificacaoInsetos"
        tools:targetApi="31">
        <activity
            android:name=".SettingActivity"
            android:exported="true"
            android:label="@string/title_banner_settings"
            android:theme="@style/Theme.IdentificacaoInsetos" />
        <activity
            android:name=".ComunsActivity"
            android:exported="true"
            android:label="@string/title_banner_list_row"
            android:theme="@style/Theme.IdentificacaoInsetos" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:theme="@style/Theme.IdentificacaoInsetos.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_banner_main"
            android:theme="@style/Theme.IdentificacaoInsetos.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>